.castOptions h2 {
  margin: 0.5rem 0;
}
.castOptions h3 {
  margin: 0.25rem 0;
}
.group {
  display: flex;
  margin-bottom: 2rem;
}
.side {
  margin-right: 0.75rem;
}
.part {
  margin-left: -0.25rem;
}
