.container {
  position: relative;
}
.container .image {
  width: 100%;
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
}
.container .image.cast {
  position: absolute;
  left: 0;
}
.container .invert {
  transform: scaleX(-1);
}
