.castInput {
  margin: 0.125rem 0;
  padding: 0.125rem 0.25rem;
}
.selected {
  border-radius: 0.25rem;
  background-color: var(--selected);
}
.disabled {
  opacity: 0.7;
  text-decoration: line-through;
}
