@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --black: #1f2933;
  --gray: #616e7c;
  --primary: #1992d4;
  --primary-dark: #127fbf;
  --selected: #399709;
}

body {
  margin: 0;
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button {
  background-color: var(--primary);
  border: 0;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.button:hover {
  background-color: var(--primary-dark);
}
.button-link {
  color: var(--primary);
  background-color: transparent;
  border: 0;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.button-link:hover {
  color: var(--primary-dark);
}
